.confetti {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.contentWrapper {
    min-height: calc(100vh - 234px); 
    display: flex;
    align-items: center;
}
  
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

.tripCardWrapper {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.tripCard {
    width: 80%;
    display: flex;
    color: #1c1b1b;
    background-color: rgb(197, 195, 195);
}

.tripCardImage {
    width: 50%;
    min-height: 500px;
    background-size: cover;
    background-position: center center;
}

.tripCardInfo {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tripTitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tripTitle {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}

.tripPrice {
    font-size: 20px;
    font-weight: 600;
    color: #D05525;
}

.tripDescription {
    margin: 0;
}

.tripDateWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dateImage {
    width: 30px;
}

.durationTitle {
    font-weight: 500;
}

.tripButton {
    font-family: 'Prompt', sans-serif;
    border: none;
    font-size: 16px;
    padding: 8px 20px;
    max-width: 120px;
    cursor: pointer;
    background-color: #D05525;
    color: rgb(229 228 228);
    transition: 0.3s;
}

.tripButton:hover {
    background-color: #e05923;
}

@media (max-width: 992px) {
    .tripCard {
        width: 100%;
    }
}

@media (max-width: 699px) {
    .tripCard {
        flex-direction: column;
    }

    .tripCardImage, .tripCardInfo {
        width: 100%;
    }

    .tripCardInfo {
        padding: 25px;
    }

    .tripButton {
        align-self: center;
    }
}

@media (max-width: 531px) {
    .container {
        padding: 0 20px;
    }

    .tripCardImage {
        min-height: 350px;
    }
}