.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.bgImage {
    position: relative;
    background-image: url('../assets/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 20%;
}

.bgImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.heroBoxWrapper {
    position: relative;
    z-index: 2;
    height: 100vh;
}

.heroBox {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 540px;
}

.heroBoxTitle {
    margin: 0;
    font-size: 70px;
    max-width: 600px;
    line-height: 140%;
}

.heroBoxButton {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid rgb(229 228 228);
    color: rgb(229 228 228);
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    max-width: 120px;
    cursor: pointer;
    transition: 0.3s;
}

.heroBoxButton:hover {
    background-color: rgba(255, 255, 255, 0.527);
}


.tripsSectionWrapper {
    margin-top: 100px;
}