.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

.bgImage {
    position: relative;
    background-image: url('../assets/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 20%;
}

.bgImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.heroBoxWrapper {
    position: relative;
    z-index: 2;
    height: 100vh;
}

.heroBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 81px);
    gap: 30px;
    max-width: 620px;
}

.heroBoxTitle {
    margin: 0;
    font-size: 80px;
    line-height: 130%;
}

.heroBoxDescription {
    margin: 0 0 10px;
    max-width: 450px;
    line-height: 25px;
    font-size: 18px;
}

.heroBoxButton {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid rgb(229 228 228);
    color: rgb(229 228 228);
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    max-width: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.heroBoxButton:hover {
    background-color: #D05525;
    border: 2px solid #D05525;
}


.tripsSectionWrapper {
    margin: 80px 0 120px;
    padding-top: 30px;
}

.tripsTitle {
    margin: 0 0 40px;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.tripsSection {
    display: flex;
    gap: 50px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 790px) {
    .bgImage {
        background-position: center center;
    }
}

@media (max-width: 531px) {
    .container {
        padding: 0 20px;
    }

    .heroBoxTitle {
        font-size: 60px;
    }
}
