.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

/* .footerWrapper {
    background-color: rgb(35, 34, 34);
} */

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.contactsList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contactsItem {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

.contactsItem.logo {
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    color: #D05525;
    font-family: 'MuseoModerno', cursive;
}

.contactsItemLink {
    text-decoration: none;
    color: rgb(229 228 228);
    display: flex;
    align-items: center;
    gap: 10px;
}

.contactsLinkImage {
    width: 23px;
}

.socialMediaList {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.socialMediaItem {
    list-style-type: none;
}

.socialMediaLinkImage {
    width: 25px;
}

@media (max-width: 421px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contactsList {
        align-items: center;
    }
}